= game_state(@tally.game_state)

%h1
  Your luck is written

.row
  .col-md-4
    = render "_gallows.html", left: @tally.turns_left

  .col-md-7.offset-md-1
    = render "_status.html", conn: @conn, tally: @tally
